.main-container{
    position: relative;
    margin-bottom: 20px;
}
.main-container>img{
    width: 100%;
    height: 400px;
    background-size: contain;
}
.contact-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    border: yellow solid 5px;
    padding: 20px;
    border-radius: 20px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}
.images{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sub-card{
    width: 350px;
    border: red solid 4px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
a{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    border: red 1px solid;
    font-weight: bold;
}
a:hover{
    background-color: white;
    color: red;
    
}